$font-stack:    Arial, sans-serif;
$primary-color: blue;

body {
  font: 200% $font-stack;
  color: $primary-color;
}

.button{
    color: $primary-color;
    background: grey;
    padding: 10px 20px;
    font: $font-stack;
}

