
/* sass --watch style.scss:style.css */

$font-stack:    Arial, sans-serif;
$primary-color: red;
$secondary-color: green;

body {
  font: 200% $font-stack;
  color: $primary-color;
  background-color: $secondary-color;
}

.button{
    color: $primary-color;
    background: grey;
    padding: 10px 20px;
    font: $font-stack;
}